<div class="container">

  <!-- HEADER -->
  <div class="header">
    <h2>Calendario de Vacaciones</h2>
    <p>Planifica tus vacaciones de forma inteligente y sencilla</p>
  </div>

  <!-- TARJETAS -->
  <div class="cards">

    <mat-card class="card">
      <p>Días disponibles</p>
      <p>{{ diasDisponibles }}</p>
      <span>días</span>
    </mat-card>

    <mat-card class="card">
      <p>Fecha de vencimiento</p>
      <h3>22 Oct 2026</h3>
    </mat-card>

    <mat-card class="card">
      <p>Próximas vacaciones</p>
      <h3>10 Abr 2026</h3>
    </mat-card>

  </div>

   <!-- BOTONES DE VISTA -->
  <!-- ========================= -->
<!-- LEYENDA DE ESTATUS -->
<!-- ========================= -->
<div class="leyenda">

  <div class="item">
    <span class="color calendarizado"></span>
    <span>Calendarizado</span>
  </div>

  <div class="item">
    <span class="color planificado"></span>
    <span>Planificado</span>
  </div>

  <div class="item">
    <span class="color autorizado"></span>
    <span>Autorizado</span>
  </div>

  <div class="item">
    <span class="color tomado"></span>
    <span>Tomado</span>
  </div>

</div>

  <!-- ========================= -->
  <!-- VISTA MES (FULLCALENDAR) -->
  <!-- ========================= -->
  <div *ngIf="vista === 'mes'" class="calendar-container">
    <mat-card class="calendar-card">
      <full-calendar [options]="calendarOptions"></full-calendar>
    </mat-card>
  </div>

  <!-- ========================= -->
  <!-- VISTA AÑO (12 MESES) -->
  <!-- ========================= -->
  <div *ngIf="vista === 'anio'" class="year-view">

    <mat-card 
      *ngFor="let month of months; let i = index; trackBy: trackByMonth" 
      class="month-card"
    >

      <h4>{{ getMonthDate(month) | date:'MMMM' }}</h4>

      <full-calendar
    [options]="getCalendarOptions(month)"
    
  ></full-calendar>

  </mat-card>

  

</div>